:root {
    --gridspacing: 5px;
}

.grid-container {
    display: grid;
    width: 960px;
    height: 960px;
    background-color: aliceblue;
    border: solid 1px blue;
}

.cell {
    width: auto;
    height: auto;
    /* border: solid 1px red; */
}

.traced {
    background-color: gray;
}