body {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* Image credits: HD wallpaper: untitled, pattern, wood, retro, desktop, wallpaper, wooden, surface
    By: Oksana Kalitseva
    https://www.pinterest.com/pin/33073378500208974/ 
    Using a background color instead,
    due to error "Error with Permissions-Policy header: 
    Origin trial controlled feature not enabled: 'interest-cohort'." */
    /* background-image: url("../Images/33b8cf1ce51c2d5aa9a8d8433ce6cc6d.jpg"); */
    background-color:burlywood;
    background-position: 50% 50%;
}

h1 {
    height: 50px;
    display: flex;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    color: blanchedalmond;
}

p {
    font-family:'Courier New', Courier, monospace;
    color: blanchedalmond;
    font-size: 20px;
    font-weight: bold;
}

.Etchbody {
    background-color: #E90418;
    width: 800px;
    border-radius: 30px;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.sizeChange {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 350px;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 7px;
    background-color:darkred;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:blanchedalmond;
    cursor: grab;
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    background-color: #FAEBD7;
    /* Inspired by Silinde87's Top Etch-A-Sketch */
    /* In his "outer-sh" and "inner-sh" classes */
    /* https://github.com/Silinde87/top-etch-a-sketch/blob/main/style.css */
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);
}

.cell {
    width: auto;
    height: auto;
    /* border: solid 1px lightgray; */
}

.Etchbody {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
}

/* Reference */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */